<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'tyre_service_list' %}">Tyre Services</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tyre_service_form' %}">New Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tyre_service_list' %}">Service List</a>
        </li>

         <li class="nav-item">
          <a class="nav-link" href="{% url 'tyre_service_report' %}">Service Report</a>
        </li>

         <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}"> Register </a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}"> Login </a>
        </li>
        <div>
           <li class="nav-item">

            <form action="{%url 'logout'%}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger" style="margin-left: 750px;">Logout</button>
            </form>
        </li>
        </div>
      </ul>
    </div>
  </div>
</nav>
